.ant-btn-primary{
  background-color: #3b82f6 !important;
}
.ant-menu-item-active{
  color: #3b82f6 !important;
  background: none !important;
}
.ant-menu-item-selected{
  color: #3b82f6 !important;
  background: rgb(230,244,255) !important;
}
