@import "mixin";
@import "antd";
@import "tailwind.css";
/* 自定义全局 CssVar */
:root {
  @include scrollBar;
  --pure-transition-duration: 0.016s;
}

/* 灰色模式 */
.html-grey {
  filter: grayscale(100%);
}

/* 色弱模式 */
.html-weakness {
  filter: invert(80%);
}

$color:#FFFFFF;
$color-light-blue: #3b82f6;
$color-blue: #3b82f6;


body{
  background-color: $color;
  // 禁用文字选中
  user-select: none;
}

img{
  // 禁止拖动图片
  -webkit-user-drag: none;
}

.text-align-last {
  text-align-last: justify;
  width: 60px;
}
a{
  color: $color-blue;
  &:hover{

  }
}
